apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namePrefix: prod-
namespace: prod-${APP_NAME}

resources:
  - ../../base

patches:
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 3
    target:
      kind: Deployment
      name: nginx
  - patch: |-
      - op: replace
        path: /metadata/name
        value: ${APP_NAME}
    target:
      kind: Deployment
      name: nginx
  - patch: |-
      - op: replace
        path: /metadata/name
        value: ${APP_NAME}
    target:
      kind: Service
      name: nginx
  - patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/cpu
        value: "500m"
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: "256Mi"
    target:
      kind: Deployment
      name: nginx
  - patch: |-
      - op: replace
        path: /metadata/name
        value: prod-${APP_NAME}
      - op: replace
        path: /metadata/labels/name
        value: prod-${APP_NAME}
    target:
      kind: Namespace
      name: default
